@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

main { font-family: 'Montserrat', Arial, Helvetica, sans-serif;}

.row { padding: 2%; }

button { margin: 2%; }
